# Label Encoding Thorugh Pandas

In [1]:
# import required libraries
import pandas as pd
import numpy as np

In [2]:
# creating initial dataframe
bridge_types = ('Arch','Beam','Truss','Cantilever','Tied Arch','Suspension','Cable')
df = pd.DataFrame(bridge_types, columns=['Bridge_Types']) # converting type of columns to 'category'
df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [3]:
df['Bridge_Types'] = df['Bridge_Types'].astype('category') # Assigning numerical values and storing in another column
df['Bridge_Types_Cat'] = df['Bridge_Types'].cat.codes
df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

In [7]:
new_df['Bridge_Types'] = df['Bridge_Types_Cat']
new_df

   Bridge_Types
0             0
1             1
2             6
3             3
4             5
5             4
6             2

# Label Encoding Thorugh Scikit-Learn

In [8]:
from sklearn.preprocessing import LabelEncoder 
# creating initial dataframe
df = pd.DataFrame(bridge_types, columns=['Bridge_Types']) # creating instance of labelencoder
df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [9]:
labelencoder = LabelEncoder() # Assigning numerical values and storing in another column
df['Bridge_Types_Cat'] = labelencoder.fit_transform(df['Bridge_Types'])
df

  Bridge_Types  Bridge_Types_Cat
0         Arch                 0
1         Beam                 1
2        Truss                 6
3   Cantilever                 3
4    Tied Arch                 5
5   Suspension                 4
6        Cable                 2

Arch            =  1000000
Beam            =  0100000
Tuss            =  0010000
Cantilever      =  0001000
Tied Arch       =  0000100
Suspension      =  0000010
Cable           =  0000001

# One Hot Encoding Thorugh Scikit-Learn

In [11]:
from sklearn.preprocessing import OneHotEncoder # creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore') # passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(df[['Bridge_Types_Cat']]).toarray()) # merge with main df bridge_df on key values
df = df.join(enc_df)
df

  Bridge_Types  Bridge_Types_Cat    0    1    2    3    4    5    6
0         Arch                 0  1.0  0.0  0.0  0.0  0.0  0.0  0.0
1         Beam                 1  0.0  1.0  0.0  0.0  0.0  0.0  0.0
2        Truss                 6  0.0  0.0  0.0  0.0  0.0  0.0  1.0
3   Cantilever                 3  0.0  0.0  0.0  1.0  0.0  0.0  0.0
4    Tied Arch                 5  0.0  0.0  0.0  0.0  0.0  1.0  0.0
5   Suspension                 4  0.0  0.0  0.0  0.0  1.0  0.0  0.0
6        Cable                 2  0.0  0.0  1.0  0.0  0.0  0.0  0.0

# One Hot Encoding Thorugh Pandas

In [12]:
df = pd.DataFrame(bridge_types, columns=['Bridge_Types'])# generate binary values using get_dummies
df

  Bridge_Types
0         Arch
1         Beam
2        Truss
3   Cantilever
4    Tied Arch
5   Suspension
6        Cable

In [15]:
dum_df = pd.get_dummies(df, columns=["Bridge_Types"], prefix=["Type_is"] )# merge with main df bridge_df on key values
df = df.join(dum_df)
df

,Bridge_Types,Type_is_Arch,Type_is_Beam,Type_is_Cable,Type_is_Cantilever,Type_is_Suspension,Type_is_Tied Arch,Type_is_Truss
0,Arch,1,0,0,0,0,0,0
1,Beam,0,1,0,0,0,0,0
2,Truss,0,0,0,0,0,0,1
3,Cantilever,0,0,0,1,0,0,0
4,Tied Arch,0,0,0,0,0,1,0
5,Suspension,0,0,0,0,1,0,0
6,Cable,0,0,1,0,0,0,0

## Lab 15
1. WAP and handle the missing values in the data.csv by replacing them with mean
2. WAP using the data from Ex1 and label country with label encoding thorugh pandas and save in a new csv file
3. WAP and handle the missing values in the data.csv by replacing them with median
4. WAP using the data from Ex3 and label country with label encoding thorugh scikit-learn and save in a new csv file
5. WAP and handle the missing values in the data.csv by replacing them with forward Fill
6. WAP using the data from Ex5 and label country with One Hot encoding thorugh pandas and save in a new csv file
7. WAP and handle the missing values in the data.csv by replacing them with backward Fill
8. WAP using the data from Ex7 and label country with One Hot encoding thorugh scikit-learn and save in a new csv file
9. WAP to read data from  data.csv and perform the following
   * Replace missing values in age with mean age
   * Replace missing values in salary with median
   * Replace City names with one hot encoding
   * Replace Purchased with Label Encoding
   * Save this new dataframe into a csv file